@font-face {
    font-family: 'Roboto-Condensed';
    src: url(../fonts/RobotoCondensed-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url(../fonts/RobotoCondensed-Light.ttf);
    font-weight:400;
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf);
    font-weight:400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw700 {
    font-weight: 700;
}